/* Front section */
.plus-jakarta-sans-normal {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

nav h3 {
    font-weight: bolder;
    font-size: 45px;
}

nav h3 span {
    color: #FD6E0A;
}

nav ul li {
    font-size: 20px;
    margin: 0px 55px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
}

nav ul {
    align-items: center;
    display: flex;
}


.btn-all {
    height: 64px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 7px rgba(0, .5, 0, 0.5);
    cursor: pointer;
}

.btn-all:hover {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
}

.btn-cont {
    height: 64px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 10px;
    box-shadow: 0 5px 7px rgba(0, .5, 0, 0.5);
    cursor: pointer;
}

.li-1 {
    align-items: center;
}

/* Shared style */
.bg {
    background-color: #FFF8F3;
}

/* header styles */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 150px;
}

.banner-content h3 {
    font-size: 45px;
    font-weight: bold;
    color: #474747;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: bolder;
    color: #181818;
}

.all-paragraph {
    font-size: 18;
    font-weight: normal;
    color: #757575;
}

.banner-img {
    max-width: 500px;
}

.banner-content {
    height: 356px;
    width: 585px;
}

/* about section */
.about-description h3 {
    align-content: center;
    font-size: 35;
    font-weight: bold;
}

.about {
    margin: 130px 230px;
    border-radius: 10px;
    max-width: 1140px;
    background-color: #FFF8F3;
}

.about-description {
    text-align: center;
    padding: 110px 100px;
}

.ask {
    color: #757575;
    font-size: 18px;
}

.ans {
    font-size: 20;
    font-weight: bold;
}

.my-info {
    display: flex;
    justify-content: space-around;
}

.info-pair {
    margin-top: 0px;
}